<h2>Why Is This Here?</h2>

<p>
  To make a long story short, and with the help of some shameless hyperbole, my wife was raised by wolves (pop-cultarly speaking). She has a very limited movie going history. In some ways this is great, because I get to introduce her to some of my favorite movies for the first time. On the other hand it leads to a lot of headshaking and face-palming.
 <br><br>
  This website was created initially as an academic exercise, but I am turning it into a viable way to help my wife fill in some of the gaps in her pop-culture database.
<br><br>
  I thank you for your help in making my wife more movie literate.
</p>
